{#  -*- coding: utf-8 -*- #}
{% extends 'base.tmpl' %}
{% import 'archive_navigation_helper.tmpl' as archive_nav with context %}
{% import 'feeds_translations_helper.tmpl' as feeds_translations with context %}

{% block extra_head %}
    {{ feeds_translations.head(kind=kind, rss_override=False) }}
{% endblock %}

{% block content %}
<article class="listpage">
    <header>
        <h1>{{ title|e }}</h1>
    </header>
    {{ archive_nav.archive_navigation() }}
    {{ feeds_translations.translation_link(kind) }}
    {% if pages %}
    <ul class="postlist">
    {% for page in pages %}
        <li>
            <a href="{{ post.permalink() }}" class="listtitle">{{ post.title()|e }}</a>
        </li>
    {% endfor %}
    </ul>
    {% else %}
    <p>{{ messages("No pages found.") }}</p>
    {% endif %}
</article>
{% endblock %}
