@function units($num) {
    @return $num * 1rem;
}


.Cols-item {
    padding: rem(8px) rem(16px);
}

@supports(display: grid) {
    .Cols {
        display: grid;
        grid-template-columns: 1fr;
    }
    .Cols--gap {
        grid-row-gap: units(1);
        grid-column-gap: units(1);
    }
    .Cols--constrained {
        max-width: px2rem(1180px);
        margin: 0 auto;
    }
    .Cols--dense {
        grid-auto-flow: dense;
    }
    @media screen and (min-width: 680px) {
        .Cols--reverse {
            >*:first-child {
                order: 2;
            }
        }
        .Cols--half {
            grid-template-columns: 1fr 1fr;
        }
        .Cols--one-third {
            grid-template-columns: 1fr 1fr 1fr;
        }
        .Col--pull {
            grid-column: 2/3;
        }
    }
    @media screen and (min-width: em(960px)) {
        .Cols--gap {
            grid-row-gap: units(2);
            grid-column-gap: units(2);
        }
    }
}
